<p id="notice"><%= notice %></p>

<h1>Opstates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Possible changes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opstates.each do |opstate| %>
      <tr>
        <td><%= opstate.name %></td>
        <td><%= opstate.possible_changes %></td>
        <td><%= link_to 'Show', opstate %></td>
        <td><%= link_to 'Edit', edit_opstate_path(opstate) %></td>
        <td><%= link_to 'Destroy', opstate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opstate', new_opstate_path %>
