<p id="notice"><%= notice %></p>

<h1>Optypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @optypes.each do |optype| %>
      <tr>
        <td><%= optype.name %></td>
        <td><%= link_to 'Show', optype %></td>
        <td><%= link_to 'Edit', edit_optype_path(optype) %></td>
        <td><%= link_to 'Destroy', optype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Optype', new_optype_path %>
