<%= form_with(model: docstate_change, local: true) do |form| %>
  <% if docstate_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docstate_change.errors.count, "error") %> prohibited this docstate_change from being saved:</h2>

      <ul>
        <% docstate_change.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :document_id %>
    <%= form.text_field :document_id %>
  </div>

  <div class="field">
    <%= form.label :from_state_id %>
    <%= form.text_field :from_state_id %>
  </div>

  <div class="field">
    <%= form.label :to_state_id %>
    <%= form.text_field :to_state_id %>
  </div>

  <div class="field">
    <%= form.label :user_references %>
    <%= form.text_field :user_references %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
