<%= form_with(model: face, local: true) do |form| %>
  <% if face.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(face.errors.count, "error") %> prohibited this face from being saved:</h2>

      <ul>
        <% face.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :is_fiz %>
    <%= form.check_box :is_fiz %>
  </div>

  <div class="field">
    <%= form.label :is_resident %>
    <%= form.check_box :is_resident %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
