<%= form_with(model: docstate, local: true) do |form| %>
  <% if docstate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docstate.errors.count, "error") %> prohibited this docstate from being saved:</h2>

      <ul>
        <% docstate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :possible_changes %>
    <%= form.text_area :possible_changes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
