
<title>Depodoc</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
<%= stylesheet_link_tag 'application', media: 'all'%>
<%= javascript_pack_tag 'libs' %>
<%= favicon_link_tag 'favicon.ico' %>
   
