<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light">
    
        <!-- http://v4-alpha.getbootstrap.com/components/navbar/#how-it-works  -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= fa_link_to('-file-contract', sessions_path, class: 'navbar-brand') {'Depodoc - Депозитарні документи'} %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">


          <%= mainmenu_item( {
              current: request.path, 
              menuitem: documentsApp_path, 
              active: true
          }) {'Документи'} %>

          <%= mainmenu_item( {
              current: request.path, 
              menuitem: operations_path, 
              active: true
          }) {'Операції'} %>


          <%= mainmenu_dropdown( {
            current: request.path, 
            menuitems: {
                          'Користувачі' => [users_path, @current_user.can_view_users?],
                          'Ролі' => [roles_path, @current_user.can_edit_roles?],
                          'Особи' => [faces_path, @current_user.can_edit_faces?],
                          'Документи' => [documents_path, @current_user.can_tune_documents?],
                          'Стан документа' => [docstates_path, @current_user.can_edit_docstates?],
                          'Типи документів' => [doctypes_path, @current_user.can_edit_docstypes?]
                        }
          }) {"Налаштування"}  %>

        </ul>

        
        
      <div id="user-zone">
        <%= render 'users/user_zone' %>  
      </div>
        
      </div><!-- /.navbar-collapse -->

      

      
    </nav>


    
    <% flash.each do |name, msg| %>
      <%= content_tag :pre, msg, id: "flash#{name}", class: "notice" %>
    <% end %>  

    
    <%= yield %>


  </body>
</html>
