<p id="notice"><%= notice %></p>

<h1>Operations</h1>

<table>
  <thead>
    <tr>
      <th>Side1</th>
      <th>Side2</th>
      <th>Company</th>
      <th>Manager</th>
      <th>Optype</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.side1_id %></td>
        <td><%= operation.side2_id %></td>
        <td><%= operation.company_id %></td>
        <td><%= operation.manager_id %></td>
        <td><%= operation.optype_id %></td>
        <td><%= operation.note %></td>
        <td><%= link_to 'Show', operation %></td>
        <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
        <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_operation_path %>
